<%- content_for :header do -%>
<%= render partial: 'admin/menu' %>
<%- end -%>

<%- model_class = Survey -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<ul class="nav nav-pills">
  <li <%= 'class="active"'.html_safe if action_name == 'index' %>>
    <%= link_to t('.all'), admin_surveys_path %>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'companies' %>>
    <%= link_to t('.by_companies'), admin_survey_companies_path %>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'users' %>>
    <%= link_to t('.users'), admin_survey_users_path %>
  </li>
</ul>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th style="width: 30%"><%=t '.questions' %></th>
      <th><%=t '.answers' %></th>
    </tr>
  </thead>
  <tbody>
    <% @survey.questions.order('id asc').each do |question| %>
      <tr>
        <td><%= question.text %></td>
        <td>
          <% unless question.answers.blank? %>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Empresa</th>
                  <th><%=t '.answers' %></th>
                  <th>Texto</th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <% user.answers.by_question(question).each do |answer|%>
                    <% unless answer.blank? %>
                      <tr>
                        <td><%= "#{user.full_name} | #{user.company.name}" %></td>
                        <td>
                          <% unless answer.possible_answer.blank? %>
                            <%= answer.possible_answer.text %>
                          <% end %>
                        </td>
                        <td><%= answer.text %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

