<%- content_for :header do -%>
<%= render partial: 'admin/menu' %>
<%- end -%>

<%- model_class = Survey -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<ul class="nav nav-pills">
  <li <%= 'class="active"'.html_safe if action_name == 'index' %>>
    <%= link_to t('.all'), admin_surveys_path %>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'companies' %>>
    <%= link_to t('.by_companies'), admin_survey_companies_path %>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'users' %>>
    <%= link_to t('.users'), admin_survey_users_path %>
  </li>
</ul>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th style="width: 30%"><%=t '.questions' %></th>
      <th><%=t '.answers' %></th>
    </tr>
  </thead>
  <tbody>
    <% @survey.questions.order('id asc').each do |question| %>
      <tr>
        <td><%= question.text %></td>
        <td>
          <% unless question.answers.blank? %>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th><%=t '.answers' %></th>
                  <th><%=t '.total' %></th>
                  <th><%=t '.percentage' %></th>
                  <th><%=t '.text' %></th>
                </tr>
              </thead>
              <tbody>
                <% question.possible_answers.each do |pa|%>
                  <tr>
                    <% if pa.option || !pa.answers.blank? %>
                      <td><%= pa.text %></td>
                      <td><%= pa.answers.count %></td>
                      <td><%= pa.answers.count == 0 ? 0 : 
                  ((pa.answers.count.to_f * 100.0) / User.all.count.to_f) %>%</td>
                      <td>
                        <% unless pa.answers.blank? %>
                          <ul>
                          <% pa.answers.each do |a| %>
                            <% unless a.text.blank? %>
                              <li><%= a.text %></li>
                            <% end %>
                          <% end %>
                          </ul>
                        <% end %>
                      </td>
                    <% else %>
                      <td colspan="4"><%= pa.text %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

