<%- content_for :header do -%>
<%= render partial: 'admin/menu' %>
<%- end -%>

<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<ul class="nav nav-pills">
  <li <%= 'class="active"'.html_safe if action_name == 'index' %>>
    <%= link_to t('.all'), admin_surveys_path %>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'companies' %>>
    <%= link_to t('.by_companies'), admin_survey_companies_path %>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'users' %>>
    <%= link_to t('.users'), admin_survey_users_path %>
  </li>
</ul>

<div class="row">
  <div class="company survey">
  <%= form_for(@survey) do |f| %>
    <% @survey.questions.order('id asc').each_with_index do |question, index| %>
      <% if index == 0 %>
        <% @count = 1 %>
        <h3 class="section-title info">
          BLOQUE 1: Sobre el Encuentro:
        </h3>
      <% elsif index == 2 %>
        <% @count = 1 %>
        <h3 class="section-title services">
          BLOQUE 2: Sobre el contacto:
        </h3>
      <% elsif index == 4 %>
        <% @count = 1 %>
        <h3 class="section-title needs">
          BLOQUE 3: Sobre la Alianza:
        </h3>
      <% elsif index == 15 %>
        <% @count = 1 %>
        <h3 class="section-title offers">
          BLOQUE 4: Sobre la red.
        </h3>
      <% end %>

      <% unless question.possible_answers.empty? %>
        <div id="summary-block" class="survey-block">
          <p><%= "#{@count}. #{question.text}" %></p>
          <%= f.fields_for :questions, question do |q| %>
            <% @count = @count + 1 %>
            <%= q.fields_for :answers, question.answers.find_or_initialize_by(user: @user) do |a| %>
              <% question.possible_answers.order('id asc').each do |pa| %>
                <%= a.hidden_field :user_id, value: @user.id %>
                <%= a.hidden_field :question_id, value: question.id %>
                <% unless pa.option %>
                  <p><%= pa.text %></p>
                <% else %>
                  <label class="radio <%= question.possible_answers.count == 8 ? 'inline' : '' %>">
                    <%= a.radio_button :possible_answer_id, pa.id, class: "radio inline" %>
                    <%= pa.text %>
                  </label>
                <% end %>
                <% if pa.explain %>
                  <%= a.text_area :text, :rows => 2, :class => "span9" %>
                  <% if !pa.option %>
                    <%= a.hidden_field :possible_answer_id, value: pa.id %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>