<%- content_for :header do -%>
<%= render partial: 'admin/menu' %>
<%- end -%>

<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<ul class="nav nav-pills">
  <li <%= 'class="active"'.html_safe if action_name == 'index' %>>
    <%= link_to t('.all'), admin_surveys_path %>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'companies' %>>
    <%= link_to t('.by_companies'), admin_survey_companies_path %>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'users' %>>
    <%= link_to t('.users'), admin_survey_users_path %>
  </li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:company_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.full_name %>

          <% if user.mobile_phone %>
            <small>(<%= user.mobile_phone %>)</small>
          <% end %>

          <div class="email"><%= link_to user.email, admin_user_path(user) %></div>

          <% if user.admin %>
            <span class="badge badge-inverse">admin</span>
          <% end %>
          <% if user.company && user.company.sponsor %>
            <span class="badge badge-warning">sponsor</span>
          <% end %>
          <% if user.company && user.company.anchor %>
            <span class="badge badge-info">anchor</span>
          <% end %>
        </td>
        <td><%= user.company %></td>
        <td>
          <%= link_to t('.survey'), admin_survey_user_path(user), :class => 'btn btn-mini' %>
        </td>
      </tr>
      <tr>
      </tr>
    <% end %>
  </tbody>
</table>
