<tr class="<%= block %>-block">
  <th>
    <% if meeting_counter < 1 %>
      <%=l meeting.begin_at, :format => :time_of_day %> -
      <%=l meeting.end_at, :format => :time_of_day %>
    <% end %>
  </th>
  <td><%= meeting.other_company(@company).name %> - <%=t '.table', :table_number => meeting.table_number %></td>
</tr>
