<% meetings.each_with_index do |meeting, index| %>
  <%= render partial: 'meeting', locals: { block: block, meeting: meeting, meeting_counter: index } %>
<% end %>

<% meetings.count.upto(@company.max_meetings_per_spot - 1) do |index| %>
  <%= render partial: 'unassigned', locals: { spot: spot, block: block, first: (index == 0)} %>
<% end %>
