<tr class="<%= block %>-block unassigned">
  <th>
    <% if defined?(first) && first %>
      <%=l spot[:begin_at], :format => :time_of_day %> -
      <%=l spot[:end_at], :format => :time_of_day %>
    <% else %>
      &nbsp;
    <% end %>
  </th>
  <td><%=t '.unassigned' %></td>
</tr>
