<%- content_for :header do -%>
<%= render partial: 'companies/summary' %>
<%- end -%>

<div class="row">
  <div class="span12">
    <% unless @company.incoming_meeting_requests.pending.empty? %>
      <div class="alert alert-warning">
        <%=t '.incoming_meeting_requests', count: @company.incoming_meeting_requests.count %>
        <%= link_to t('.show_meeting_requests',
            count: @company.incoming_meeting_requests.count), meeting_requests_path, class: 'pull-right' %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div class="meeting-summary">
      <div class="progress">
        <% if @company.all_available_meeting_spots.count <= 0 %>
          <div class="bar bar-warning"
            style="width: 100%"></div>
          </div>
        <% else %>
          <div class="bar bar-warning"
            style="width: <%= 100 * @company.confirmed_meetings.count / @company.all_available_meeting_spots.count %>%"></div>
          </div>
        <% end %>

      <p class="meeting-count">
        <span class="confirmed"><%=t '.confirmed_meetings', count: @company.confirmed_meetings.count %></span> -
        <span class="available"><%=t '.available_spots', count: @company.all_available_meeting_spots.count %></span>
      </p>
    </div>
  </div>

  <div class="span4">
    <%= link_to t('.print'), meetings_path(format: :pdf), class: 'schedule-print-link' %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="schedule">
      <h3 class="section-title"><%=t '.title' %></h3>

      <table>
        <tr>
          <th>07:30 AM</th>
          <td><%=t '.participants_registration' %></td>
        </tr>

        <tr class="special">
          <th>08:30 AM</th>
          <td><%=t '.inauguration' %></td>
        </tr>

        <tr class="first first-block">
          <th>09:00 AM</th>
          <td><%=t '.matchings_first_block' %></td>
        </tr>

        <% Meeting.spots(:first_block).each do |spot| %>
          <%= render partial: 'spot', locals: { block: :first, spot: spot, meetings: @company.meetings.spot(spot) } %>
        <% end %>

        <tr>
          <th>10:00 AM</th>
          <td>
            <%= t('.first_workshop').html_safe %>
            <ul>
              <li>Carlos Henrique Blohm</li>
              <li>Giuseppe Ranally</li>
            </ul>
          </td>
        </tr>

        <tr class="first second-block">
          <th>11:30 AM</th>
          <td><%=t '.matchings_second_block' %></td>
        </tr>

        <% Meeting.spots(:second_block).each do |spot| %>
          <%= render partial: 'spot', locals: { block: :second, spot: spot, meetings: @company.meetings.spot(spot) } %>
        <% end %>

        <tr>
          <th>12:30 PM</th>
          <td><%= t('.lunch_break').html_safe %></td>
        </tr>

        <tr>
          <th>02:30 PM</th>
          <td>
            <%= t('.second_workshop').html_safe %>
            <ul>
              <li>Luis Pedro España</li>
              <li>Luis Vicente León</li>
            </ul>
          </td>
        </tr>

        <tr class="first third-block">
          <th>03:30 PM</th>
          <td><%=t '.matchings_third_block' %></td>
        </tr>

        <% Meeting.spots(:third_block).each do |spot| %>
          <%= render partial: 'spot', locals: { block: :third, spot: spot, meetings: @company.meetings.spot(spot) } %>
        <% end %>

        <tr>
          <th>05:30 PM</th>
          <td><%= t('.closing').html_safe %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
