<tr class="<%= block %>-block">
  <th>
    <%=l spot[:begin_at], :format => :time_of_day %> -
    <%=l spot[:end_at], :format => :time_of_day %>
  </th>
  <% @tables.each do |table_number| %>
    <td>
      <% if meetings.on_table(table_number).each do |meeting| %>
        <%= meeting.company.name %> / <%= meeting.requester_company.name %>
      <% end.empty? %>
        <span class="unassigned"><%=t '.unassigned' %></span>
      <% end %>
    </td>
  <% end %>
</tr>
