<tr class="<%= block %>-block unassigned">
  <th>
    <%=l spot[:begin_at], :format => :time_of_day %> -
    <%=l spot[:end_at], :format => :time_of_day %>
  </th>
  <td><%=t '.unassigned' %></td>
</tr>
