<%- content_for :header do -%>
<%= render partial: 'admin/menu' %>
<%- end -%>

<div class="row">
  <div class="span12">
    <div class="admin schedule">

      <%= paginate @tables %>

      <h3 class="section-title"><%=t '.title' %></h3>

      <table>
        <tr>
          <th><%=t '.hours_and_tables' %></th>
          <% @tables.each do |table_number| %>
            <th class="table-number"><%= table_number %></th>
          <% end %>
        </tr>

        <tr class="first first-block">
          <th>09:00 AM</th>
          <td colspan="<%= @tables.count %>"><%=t '.matchings_first_block' %></td>
        </tr>

        <%= render partial: 'spot', locals: { block: :first }, collection: Meeting.spots(:first_block) %>

        <tr class="first second-block">
          <th>11:30 AM</th>
          <td colspan="<%= @tables.count %>"><%=t '.matchings_second_block' %></td>
        </tr>

        <%= render partial: 'spot', locals: { block: :second }, collection: Meeting.spots(:second_block) %>

        <tr class="first third-block">
          <th>03:30 PM</th>
          <td colspan="<%= @tables.count %>"><%=t '.matchings_third_block' %></td>
        </tr>

        <%= render partial: 'spot', locals: { block: :third }, collection: Meeting.spots(:third_block) %>
      </table>

      <%= paginate @tables %>
    </div>
  </div>
</div>
