<div class="row admin">

  <div class="user-menu">
    <%= link_to t('.users'), admin_users_path %>
    <%= link_to t('.companies'), admin_companies_path %>
    <%= link_to t('.meetings'), admin_meetings_path %>
    <%= link_to t('.surveys'), admin_surveys_path %>
  </div>

</div>
