<%= form_for [:admin, @company], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <div class="control-group">
      <%= f.label :external_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :external_id, :class => 'text_field' %>
      </div>
    </div>
    <%= f.label :logo, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :logo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sector_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :sector_id, Sector.all, :id, :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_person_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :contact_person_id, User.all, :id, :full_name, include_blank: true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :website, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :website, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :twitter, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :twitter, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :summary, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :summary, :rows => 5, :class => 'span4' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :services, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :services, :rows => 5, :class => 'span4' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :needs, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :needs, :rows => 5, :class => 'span4' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :offers, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :offers, :rows => 5, :class => 'span4' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sponsor, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :sponsor, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :anchor, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :anchor, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :incoming_request_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :incoming_request_limit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :outgoing_request_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :outgoing_request_limit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_field :time_limit %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_companies_path, :class => 'btn' %>
  </div>
<% end %>
