<%- content_for :header do -%>
<%= render partial: 'admin/menu' %>
<%- end -%>

<%- model_class = Company -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<ul class="nav nav-pills">
  <li <%= 'class="active"'.html_safe if action_name == 'index' %>>
    <%= link_to t('.all'), admin_companies_path %>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'sponsors' %>>
    <%= link_to t('.sponsors'), sponsors_admin_companies_path %>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'anchors' %>>
    <%= link_to t('.anchors'), anchors_admin_companies_path %>
  </li>
</ul>

<%= paginate @companies %>

<form class="form-search">
  <input type="text" name="search" class="input-medium search-query" value="<%= params[:search] %>"/>
  <button type="submit" class="btn"><%=t '.search' %></button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:external_id) %></th>
      <th><%= model_class.human_attribute_name(:logo) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:contact_information) %></th>
      <th><%=t '.incoming' %></th>
      <th><%=t '.outgoing' %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.external_id %></td>
        <td>
          <%= link_to admin_company_path(company) do %>
            <%= image_tag company.logo, alt: company.name, width: 50, height: 50 %>
          <% end %>
        </td>
        <td>
          <%= link_to company.name, admin_company_path(company) %>

          <% if company.sponsor %>
            <span class="badge badge-warning">sponsor</span>
          <% end %>
          <% if company.anchor %>
            <span class="badge badge-info">anchor</span>
          <% end %>

          <div class="sector"><%= company.sector %></div>
        </td>
        <td>
          <%= company.contact_person %>

          <% if company.twitter %>
            <div class="twitter"><%= link_to company.twitter, "http://twitter.com/#{company.twitter.sub '@', ''}" %></div>
          <% end %>

          <% if company.website %>
            <div class="website"><%= link_to company.website %></div>
          <% end %>

          <div class="phone-number"><%= company.phone_number %></div>
        </td>
        <td>
          <%= company.incoming_meeting_requests.scheduled.count %> /
          <%= company.incoming_meeting_requests.count %>
          (<%= company.max_incoming_requests %>)
        </td>
        <td>
          <%= company.outgoing_meeting_requests.scheduled.count %> /
          <%= company.outgoing_meeting_requests.count %>
          (<%= company.max_outgoing_requests %>)
        </td>
        <td><%= company.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_company_path(company), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_company_path(company),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @companies %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_company_path,
            :class => 'btn btn-primary' %>
