<%- model_class = Company -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="row">
  <div class="span2">
    <%= image_tag @company.logo, alt: @company.name %>
  </div>
  <div class="span10">
    <h2>
      <%= @company.name %>

      <small><%= @company.sector %></small>

      <% if @company.sponsor %>
        <span class="badge badge-warning">sponsor</span>
      <% end %>
      <% if @company.anchor %>
        <span class="badge badge-info">anchor</span>
      <% end %>

      <%= link_to '&nbsp;'.html_safe, schedule_admin_company_path(format: :pdf), class: 'icon-download-alt' %>
      <%= link_to '&nbsp;'.html_safe, send_schedule_admin_company_path, class: 'icon-share' %>
    </h2>

    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:contact_person_id) %>:</strong></dt>
      <dd><%= link_to @company.contact_person, [:admin, @company.contact_person] if @company.contact_person %>
        (<%= mail_to @company.contact_person.email unless @company.contact_person.blank? %>)</dd>
      <dt><strong><%= model_class.human_attribute_name(:external_id) %>:</strong></dt>
      <dd><%= @company.external_id %></dd>
      <dt><strong><%= model_class.human_attribute_name(:website) %>:</strong></dt>
      <dd><%= @company.website %></dd>
      <dt><strong><%= model_class.human_attribute_name(:twitter) %>:</strong></dt>
      <dd><%= @company.twitter %></dd>
      <dt><strong><%= model_class.human_attribute_name(:phone_number) %>:</strong></dt>
      <dd><%= @company.phone_number %></dd>
    </dl>

    <dl class="dl-horizontal alert alert-info">
      <dt><strong><%= model_class.human_attribute_name(:max_incoming_requests) %>:</strong></dt>
      <dd><%= @company.max_incoming_requests %></dd>
      <dt><strong><%= model_class.human_attribute_name(:max_outgoing_requests) %>:</strong></dt>
      <dd><%= @company.max_outgoing_requests %></dd>
      <dt><strong><%= model_class.human_attribute_name(:max_time_limit) %>:</strong></dt>
      <dd><%= @company.max_time_limit %></dd>
    </dl>

    <dl>
      <% [:summary, :services, :needs, :offers].each do |attribute| %>
        <% if @company.send(attribute) %>
          <dt><strong><%= model_class.human_attribute_name(attribute) %>:</strong></dt>
          <dd><%= @company.send(attribute) %></dd>
        <% end %>
      <% end %>
    </dl>

    <h3><%=t '.incoming_meeting_requests' %></h3>
    <ul>
    <% @company.incoming_meeting_requests.each do |m| %>
      <li>
        <strong><%= link_to m.other_company(@company).name.upcase, admin_company_path(m.other_company(@company)) %></strong>
        <%= status_label m.status %>
        <%= link_to notify_admin_meeting_request_path(m), title: t('.notification_resend') do %>
          <i class="icon-repeat"></i>
        <% end %>
        <%= link_to admin_meeting_request_path(m),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
          <i class="icon-remove"></i>
        <% end %>
      </li>
    <% end %>
    </ul>

    <h3><%=t '.outgoing_meeting_requests' %></h3>
    <ul>
    <% @company.outgoing_meeting_requests.each do |m| %>
      <li>
        <strong><%= link_to m.other_company(@company).name.upcase, admin_company_path(m.other_company(@company)) %></strong>
        <%= status_label m.status %>
        <%= link_to notify_admin_meeting_request_path(m), title: t('.notification_resend') do %>
          <i class="icon-repeat"></i>
        <% end %>
        <%= link_to admin_meeting_request_path(m),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
          <i class="icon-remove"></i>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_companies_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_company_path(@company), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_company_path(@company),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
