<%= form_for(resource, :as => resource_name, :html => {:class => "form-horizontal session-form", :method => :post}, :url => password_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :email, "Correo Electrónico", :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :autofocus => true %>
      <div>
        <%= f.submit "Enviar a mi correo" %>
      </div>
     
        
    </div>
    
  </div>  

<% end %>
