<h3 style="font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #777;">
  <%=t '.title' %>
</h3>

<table style="width: 100%; border-spacing: 0; background-color: #f0f0ef; font-family: Helvetica, Arial, sans-serif;">
  <tr>
    <td style="width: 140px;">
      <%= image_tag @requester.logo, alt: @requester.name, width: 100, height: 100,
        style: 'width: 100px; height: 100px; margin: 30px 15px;' %>
    </td>
    <td>
      <table style="border-spacing: 0;">
        <tr>
          <td colspan="2" style="color: #777;"><strong><%= @requester.name.upcase %></strong></td>
        </tr>
        <tr>
          <td style="color: #777;"><%= Company.human_attribute_name(:contact_person) %></td>
          <td style="color: #777;"><strong><%= @requester.contact_person.full_name %></strong></td>
        </tr>
      </table>
    <td>
    <td style="width: 250px;">
      <table style="width: 100%; border-spacing: 0; text-align: center;">
        <tr>
          <td style="width: 32%;">
            <%= link_to company_url(@requester) do %>
              <%= image_tag 'view-profile.png', alt: t('.profile') %>
            <% end %>
          </td>
          <td style="width: 32%;">
            <%= link_to accept_meeting_request_url(@meeting_request) do %>
              <%= image_tag 'accept.png', alt: t('.accept') %>
            <% end %>
          </td>
          <td>
            <%= link_to reject_meeting_request_url(@meeting_request) do %>
              <%= image_tag 'cancel.png', alt: t('.reject') %>
            <% end %>
          </td>
          <td style="width: 10px;">&nbsp;</td>
        </tr>
          <td><%= link_to t('.profile'), company_url(@requester), style: 'color: #777;' %></td>
          <td><%= link_to t('.accept'), accept_meeting_request_url(@meeting_request), style: 'color: #777;' %></td>
          <td><%= link_to t('.reject'), reject_meeting_request_url(@meeting_request), style: 'color: #777;' %></td>
        <tr>
        </tr>
      </table>
    </td>
  </tr>
</table>
