<%=t '.title' %>


<%= @requester.name.upcase %>
- <%= Company.human_attribute_name(:contact_person) %>: <%= @requester.contact_person.full_name %>

- <%=t '.profile' %>: <%= company_url(@requester) %>
- <%=t '.accept' %>: <%= accept_meeting_request_url(@meeting_request) %>
- <%=t '.reject' %>: <%= reject_meeting_request_url(@meeting_request) %>
