<%=t '.title', name: @company.name.upcase %>


<%= @company.name.upcase %>
  - <%= Company.human_attribute_name(:contact_person) %>: <%= @company.contact_person.full_name %>
  <% if @company.contact_person.mobile_phone %>
  - <%= User.human_attribute_name(:mobile_phone) %>: <%= @company.contact_person.mobile_phone %></strong></td>
  <% else %>
  - <%= User.human_attribute_name(:phone_number) %>: <%= @company.contact_person.phone_number %>
  <% end %>

