<h3 style="font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #777;">
  <%= t('.title', name: "<strong>#{@company.name.upcase}</strong>").html_safe %>
</h3>

<table style="width: 100%; border-spacing: 0; background-color: #f0f0ef; font-family: Helvetica, Arial, sans-serif;">
  <tr>
    <td style="width: 140px;">
      <%= image_tag @company.logo, alt: @company.name, width: 100, height: 100,
        style: 'width: 100px; height: 100px; margin: 30px 15px;' %>
    </td>
    <td>
      <table style="border-spacing: 0;">
        <tr>
          <td colspan="2" style="color: #777;"><strong><%= @company.name.upcase %></strong></td>
        </tr>
        <tr>
          <td style="color: #777; text-align: right; padding-right: 5px;"><%= Company.human_attribute_name(:contact_person) %></td>
          <td style="color: #777;"><strong><%= @company.contact_person.full_name %></strong></td>
        </tr>
        <% if @company.contact_person.mobile_phone %>
          <tr>
            <td style="color: #777; text-align: right; padding-right: 5px;"><%= User.human_attribute_name(:mobile_phone) %></td>
            <td style="color: #777;"><strong><%= @company.contact_person.mobile_phone %></strong></td>
          </tr>
        <% else %>
          <tr>
            <td style="color: #777; text-align: right; padding-right: 5px;"><%= User.human_attribute_name(:phone_number) %></td>
            <td style="color: #777;"><strong><%= @company.contact_person.phone_number %></strong></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>
