<h3 style="font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #777;">
  <% if @meeting.requester_company == @company %>
    <%= t('.requester_title', name: "<strong>#{@meeting.company.name.upcase}</strong>").html_safe %>
  <% elsif @company.anchor? %>
    <%= t('.anchor_requestee_title', name: "<strong>#{@meeting.requester_company.name.upcase}</strong>").html_safe %>
  <% else %>
    <%= t('.requestee_title', name: "<strong>#{@meeting.requester_company.name.upcase}</strong>").html_safe %>
  <% end %>
</h3>

<table style="width: 100%; border-spacing: 0; background-color: #f0f0ef; font-family: Helvetica, Arial, sans-serif;">
  <tr>
    <td style="width: 140px;">
      <%= image_tag @other_company.logo, alt: @other_company.name, width: 100, height: 100,
        style: 'width: 100px; height: 100px; margin: 30px 15px;' %>
    </td>
    <td>
      <table style="border-spacing: 0;">
        <tr>
          <td colspan="2" style="color: #777;"><strong><%= @other_company.name.upcase %></strong></td>
        </tr>
        <tr>
          <td style="color: #777; text-align: right; padding-right: 5px;"><%= Company.human_attribute_name(:contact_person) %></td>
          <td style="color: #777;"><strong><%= @other_company.contact_person.full_name %></strong></td>
        </tr>
        <% if @other_company.contact_person.mobile_phone %>
          <tr>
            <td style="color: #777; text-align: right; padding-right: 5px;"><%= User.human_attribute_name(:mobile_phone) %></td>
            <td style="color: #777;"><strong><%= @other_company.contact_person.mobile_phone %></strong></td>
          </tr>
        <% else %>
          <tr>
            <td style="color: #777; text-align: right; padding-right: 5px;"><%= User.human_attribute_name(:phone_number) %></td>
            <td style="color: #777;"><strong><%= @other_company.contact_person.phone_number %></strong></td>
          </tr>
        <% end %>
      </table>
    </td>
    <td style="width: 220px; padding-right: 20px;">
      <table style="width: 100%; background-color: #60af34;">
        <tr>
          <td style="width: 45%; color: white; text-align: right; padding-right: 5px;"><%=t '.time_of_day' %></td>
          <td style="color: white;"><strong><%=l @meeting.begin_at, format: :time_of_day %></strong></td>
        </tr>
        <tr>
          <td style="color: white; text-align: right; padding-right: 5px;"><%=t '.table_number' %></td>
          <td style="color: white;"><strong><%= @meeting.table_number %></strong></td>
        </tr>
      </table>
    </td>
    <td style="width: 100px;">
      <table style="width: 100%; border-spacing: 0; text-align: center;">
        <tr>
          <td>
            <%= link_to company_url(@other_company) do %>
              <%= image_tag 'view-profile.png', alt: t('.profile') %>
            <% end %>
          </td>
          <td style="width: 10px;">&nbsp;</td>
        </tr>
          <td><%= link_to t('.profile'), company_url(@other_company), style: 'color: #777;' %></td>
          <td style="width: 10px;">&nbsp;</td>
        <tr>
        </tr>
      </table>
    </td>
  </tr>
</table>
