<% if @meeting.requester_company == @company %>
  <%=t '.requester_title', name: @meeting.company.name.upcase %>
<% elsif @company.anchor? %>
  <%=t '.anchor_requestee_title', name: @meeting.requester_company.name.upcase %>
<% else %>
  <%=t '.requestee_title', name: @meeting.requester_company.name.upcase %>
<% end %>


<%=t '.time_of_day' %>: <%=l @meeting.begin_at, format: :time_of_day %>
<%=t '.table_number' %>: <%= @meeting.table_number %>

<%= @other_company.name.upcase %>
  - <%= Company.human_attribute_name(:contact_person) %>: <%= @other_company.contact_person.full_name %>
  <% if @other_company.contact_person.mobile_phone %>
  - <%= User.human_attribute_name(:mobile_phone) %>: <%= @other_company.contact_person.mobile_phone %></strong></td>
  <% else %>
  - <%= User.human_attribute_name(:phone_number) %>: <%= @other_company.contact_person.phone_number %>
  <% end %>

- <%=t '.profile' %>: <%= company_url(@other_company) %>
