<%- content_for :header do -%>
<%= render partial: 'companies/summary' %>
<%- end -%>

<div class="meeting-requests">
  <h3 class="section-title incoming"><%=t '.incoming_meeting_requests' %></h3>
  <% if @incoming_meeting_requests.empty? %>
    <div class="block">
      <%=t '.no_incoming_requests'%>
    </div>
  <% end %>

  <table>
    <% @incoming_meeting_requests.each do |meeting_request| %>
      <tr>
        <td class="company-logotype"><img src="http://placehold.it/100x100&amp;text=Company+Logo" /></td>
        <td class="company-info">
          <%= t('.has_requested_a_meeting_with_you', name: meeting_request.requester_company.name.upcase).html_safe %>
          <%= status_label meeting_request.status %>

          <dl>
            <dt><%= Company.human_attribute_name :sector %></dt>
            <dd><%= meeting_request.requester_company.sector.name %></dd>

            <dt><%= Company.human_attribute_name :contact_person %></dt>
            <dd><%= meeting_request.requester_company.contact_person.full_name %></dd>
          </dl>
        </td>
        <td class="meeting-request-reject">
          <% if MeetingService.can_reject_meeting_request(meeting_request, @company) %>
            <%= link_to reject_meeting_request_path(meeting_request) do %>
              <%= image_tag("cancel.png") %>
              <div class="caption"><%=t '.reject' %></div>
            <% end %>
          <% end %>
        </td>
        <td class="meeting-request-accept">
          <% if MeetingService.can_accept_meeting_request(meeting_request, @company) %>
            <%= link_to accept_meeting_request_path(meeting_request) do %>
              <%= image_tag("accept.png") %>
              <div class="caption"><%=t '.accept' %></div>
            <% end %>
          <% end %>
        </td>
        <td class="company-profile">
          <%= link_to company_path(meeting_request.requester_company) do %>
            <%= image_tag("view-profile.png") %>
            <div class="caption"><%=t '.profile' %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <h3 class="section-title outgoing"><%=t '.outgoing_meeting_requests' %></h3>
  <% if @outgoing_meeting_requests.empty? %>
    <div class="block">
      <%=t '.no_outgoing_requests'%>
    </div>
  <% end %>

  <table>
    <% @outgoing_meeting_requests.each do |meeting_request| %>
      <tr>
        <td class="company-logotype"><img src="http://placehold.it/100x100&amp;text=Company+Logo" /></td>
        <td class="company-info">
          <%= t('.you_have_requested_a_meeting', name: meeting_request.requestee_company.name.upcase).html_safe %>
          <%= status_label meeting_request.status %>

          <dl>
            <dt><%= Company.human_attribute_name :sector %></dt>
            <dd><%= meeting_request.requestee_company.sector.name %></dd>

            <dt><%= Company.human_attribute_name :contact_person %></dt>
            <dd><%= meeting_request.requestee_company.contact_person.full_name %></dd>
          </dl>
        </td>
        <td class="company-profile">
          <%= link_to company_path(meeting_request.requestee_company) do %>
            <%= image_tag("view-profile.png") %>
            <div class="caption"><%=t '.profile' %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
