<%- content_for :header do -%>
<%= render partial: 'companies/summary' %>
<%- end -%>

<div class="new-meeting-request">
  <% if @meeting_request.errors.any? %>
    <% @meeting_request.errors.messages.each do |attribute, messages| %>
    <div class="alert alert-error">
      <% messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
    <% end %>
  <% else %>
    <h3><%=t '.title' %></h3>

    <%= form_for [@target_company, @meeting_request] do |f| %>
      <div class="company-info">
        <%= image_tag @target_company.logo.to_s, alt: @target_company.name %>
        <span class="name"><%= @target_company.name %></span>
      </div>

      <div class="controls">
        <button class="first" type="submit">
          <%= image_tag 'accept.png' %>
          <%=t '.accept' %>
        </button>

        <%= link_to '#', data: { modal: :close } do %>
          <%= image_tag 'cancel.png' %>
          <%=t '.reject' %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
