<%= form_for(@company, :html => {:class => "form-horizontal form-edit-company modal", :multipart => true}) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="control-group">
    <%=f.label :logo, :class => "control-label" %>
    <div class="controls">
      <%=f.file_field :logo %>
    </div>
  </div>
  
  <div class="control-group">
    <%=f.label :name, :class => "control-label" %>
    <div class="controls">
      <%=f.text_field :name %>
    </div>
  </div>
  
  <div class="control-group">
    <%=f.label :sector_id, :class => "control-label" %>
    <div class="controls">
      <%=f.select :sector_id, options_for_select(Sector.all.collect {|s| [ s.name, s.id ]}) %>
    </div>
  </div>
  
  <div class="control-group">
    <%=f.label :website, :class => "control-label" %>
    <div class="controls">
      <%=f.text_field :website %>
    </div>
  </div>
  
  <div class="control-group">
    <%=f.label :twitter, :class => "control-label" %>
    <div class="controls">
      <%=f.text_field :twitter %>
    </div>
  </div>
  
  <%= fields_for @user do |fa| %>
    <div class="control-group">
      <%=fa.label :first_name, :class => "control-label" %>
      <div class="controls">
        <%=fa.text_field :first_name %>
      </div>
    </div>
    
    <div class="control-group"> 
      <%=fa.label :last_name, :class => "control-label" %>
      <div class="controls">
        <%=fa.text_field :last_name %>
      </div>
    </div>
     
    <div class="control-group">
      <%=fa.label :phone_number, :class => "control-label" %>
      <div class="controls">
        <%=fa.text_field :phone_number %>
      </div>
    </div>
    
    <div class="control-group">
      <%=fa.label :email, :class => "control-label" %>
      <div class="controls">
        <%=fa.text_field :email %>
      </div>
    </div>
    
    <div class="control-group">
      <%=fa.label :mobile_phone, :class => "control-label" %>
      <div class="controls">
        <%=fa.text_field :mobile_phone %>
      </div>
    </div>
    
  <% end %>
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Actualizar datos"%>
    </div>
  </div>
<% end %>
