<div class="row header-banner">
  
  <div class="user-menu">
    <%= link_to t('.my_profile'), company_path(current_user.company) %> |
    <%= link_to t('.search'), companies_path %> |
   <!-- <%= link_to t('.schedule'), meetings_path %> | -->
    <%= link_to t('.meeting_requests'), meeting_requests_path %> |
    <%= link_to t('.poll'), surveys_path %>
  </div>

  <%= image_tag @company.logo.to_s, :class => "company-logo" %>
  
  <dl class="dl-horizontal">
    <h3><%= !@company.name.blank? ? @company.name.upcase : '&nbsp;'.html_safe  %></h3>
  
    <dt><%= Company.human_attribute_name :sector %></dt>
    <dd><%= !@company.sector.name.blank? ? @company.sector.name : '&nbsp;'.html_safe  %></dd>

    <dt><%= Company.human_attribute_name :contact_person %></dt>
    <dd><%= !@company.contact_person.full_name.blank? ? @company.contact_person.full_name : '&nbsp;'.html_safe  %></dd>
    
    <dt><%= User.human_attribute_name :mobile_phone %></dt>
    <dd><%= !@company.contact_person.mobile_phone.blank? ? @company.contact_person.mobile_phone : '&nbsp;'.html_safe  %></dd>

    <dt><%= User.human_attribute_name :email %></dt>
    <dd><%= !@company.contact_person.email.blank? ? @company.contact_person.email : '&nbsp;'.html_safe  %></dd>
    
    <dt><%= Company.human_attribute_name :website %></dt>
    <dd><%= !@company.website.blank? ? @company.website : '&nbsp;'.html_safe  %></dd>
    
    <dt><%= Company.human_attribute_name :twitter %></dt>
    <dd><%= !@company.twitter.blank? ? @company.twitter : '&nbsp;'.html_safe  %></dd>
    
    <dt><%= User.human_attribute_name :phone_number %></dt>
    <dd><%= !@company.contact_person.phone_number.blank? ? @company.contact_person.phone_number : '&nbsp;'.html_safe  %></dd>
  </dl>
  
  <% if @company == current_user.company %>
      
    <%= link_to t('.edit'), edit_company_path(current_user.company), :class => "icon-edit icon-white edit-link pull-right company", :remote => true %>
    
  <% else %>
    <% if display_new_meeting_request_link_for?(@company) %>
      <%= link_to t('.meeting'), new_company_meeting_request_path(@company), class: 'pull-right meeting-link' %>
    <% end %>
  <% end %>
    
</div>

<div class="edit_company_box"></div>
