<%= content_for :header do %>
  <%= render partial: "companies/summary" %>
<% end %>

<div class="row">
  <div class="span12">
    <div class="search-companies">
      <form class="form-search">
        <label for="company_name"><%=t '.search_company' %></label>
        <input type="text" id="company_name" name="company_name" value="<%= params[:company_name] %>" class="input-medium search-query">
        <button type="submit" class="btn"><i class="icon-search"></i></button>
      </form>
      <h3 class="section-title sector">
        <span class="sector-title"><%=t '.title' %></span>
        <div class="navbar">
          <div class="navbar-inner">
              <div class="container">
                <div class="nav-collapse collapse navbar-responsive-collapse">
                  <ul class="nav">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <% if !params[:sector_id] %>
                          <%=t '.all' %>
                        <% else %>
                          <%= @sector.name %>
                        <% end %>
                      </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to t('.all'), companies_path %></li>
                        <% @sectors.each do |sector| %>
                          <li><%= link_to sector.name, companies_path(:sector_id => sector.id) %></li>
                        <% end %>
                      </ul>
                    </li>
                  </ul>                 
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div>
      </h3>
      <table>
        <tbody>
          <% @companies.each do |company| %>
          <tr>
            <td class="company-logotype">
              <% if !company.logo.to_s.empty? %>
                <%= image_tag company.logo.to_s %>
              <% else %>
                <img src="http://placehold.it/100x100&amp;text=Company+Logo" />
              <% end %>
            </td>
            <td class="company-contact">
              <span class="name"><%= company.name.upcase %></span><br>
              <span class="contact-title"><%= Company.human_attribute_name :contact_person %></span>
              <span class="contact"><%= company.contact_person.full_name %></span>              
            </td>
            <td class="company-profile">
              <%= link_to company_path(company) do %>
                <%= image_tag("view-profile.png") %><br>
                <%=t '.profile' %>
              <% end %>
            </td>
            <td class="company-meeting">
              <% if display_new_meeting_request_link_for?(company) %>
                <%= link_to new_company_meeting_request_path(company) do %>
                  <%= image_tag("accept.png") %><br>
                  <%=t '.meeting' %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @companies %>
</div>
<br>