<%= content_for :header do %>
  <%= render partial: "companies/summary" %>
<% end %>

<div class="row">
  <div class="company">
    <h3 class="section-title info">
      <%= Company.human_attribute_name :summary %>
      <% if @company == current_user.company %>
        <a id="edit_company_summary" class="icon-edit icon-white edit-link pull-right info"> <%=t '.edit' %> </a>
      <% end %>
    </h3>
    <div id="summary-block" class="block">
      <span id="info_company_summary">
        <% if @company.summary.blank? && (@company == current_user.company) %>
          <%=t '.without_info' %>
        <% else %>
          <%= @company.summary %>
        <% end %>
      </span>
      <div class="company-summary">
        <%= form_for(@company) do |f| %>
          <%=f.text_area :summary, :rows => 5, :class => "span9", :value => @company.summary %>
          <%= f.submit "Actualizar datos", :class => "blue"%>
        <% end %>
      </div>
    </div>
  
    <h3 class="section-title services">
      <%= Company.human_attribute_name :services %>
      <% if @company == current_user.company %>
        <a id="edit_company_services" class="icon-edit icon-white edit-link pull-right info"> <%=t '.edit' %> </a>
      <% end %>
    </h3>
    <div id="services-block" class="block">
      <span id="info_company_services">
        <% if @company.services.blank? && (@company == current_user.company) %>
          <%=t '.without_info' %>
        <% else %>
          <%= @company.services %>
        <% end %>
      </span>
      <div class="company-services">
        <%= form_for(@company) do |f| %>
          <%=f.text_area :services, :rows => 5, :class => "span9", :value => @company.services %>
          <%= f.submit "Actualizar datos", :class => "green"%>
        <% end %>
      </div>
    </div>
  
    <h3 class="section-title needs">
      <%= Company.human_attribute_name :needs %>
      <% if @company == current_user.company %>
        <a id="edit_company_needs" class="icon-edit icon-white edit-link pull-right info"> <%=t '.edit' %> </a>
      <% end %>
    </h3>
    <div id="needs-block" class="block">
      <span id="info_company_needs">
        <% if @company.needs.blank? && (@company == current_user.company) %>
          <%=t '.without_info' %>
        <% else %>
          <%= @company.needs %>
        <% end %>
      </span>
      <div class="company-needs">
        <%= form_for(@company) do |f| %>
          <%=f.text_area :needs, :rows => 5, :class => "span9", :value => @company.needs %>
          <%= f.submit "Actualizar datos", :class => "orange"%>
        <% end %>
      </div>
    </div>
  
    <h3 class="section-title offers">
      <%= Company.human_attribute_name :offers %>
      <% if @company == current_user.company %>
        <a id="edit_company_offers" class="icon-edit icon-white edit-link pull-right info"> <%=t '.edit' %> </a>
      <% end %>
    </h3>
    <div id="offers-block"  class="block">
      <span id="info_company_offers">
        <% if @company.offers.blank? && (@company == current_user.company) %>
          <%=t '.without_info' %>
        <% else %>
          <%= @company.offers %>
        <% end %>
      </span>
      <div class="company-offers">
        <%= form_for(@company) do |f| %>
          <%=f.text_area :offers, :rows => 5, :class => "span9", :value => @company.offers %>
          <%= f.submit "Actualizar datos", :class => "dark-blue"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
