<%= form_for(resource, :html => {:class => "form-horizontal session-form"}, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="control-group"><%= f.label :email, "Correo Electrónico", :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :autofocus => true %>
    </div>
  </div>

  <div class="control-group"><%= f.label :password, "Contraseña", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <%= f.label :remember_me, "Recuérdame", :class => "checkbox" %>
      <% end -%>

      <div><%= f.submit "Iniciar Sesión" %></div>
      <div class="session-links"><%= render "devise/shared/links" %></div>
<% end %>
  </div>
</div>
