<%= content_for :header do %>
  <%= render partial: "companies/summary" %>
<% end %>

<div class="row">
  <div class="survey-info">
    <p>¡El CONTACTO no se detiene! Y por esa razón te invitamos a completar el siguiente cuestionario que hemos preparado para evaluar el alcance de nuestro evento realizado en julio, con miras a fortalecer nuestro segundo encuentro de CONTACTO.
    </p>
    <p>El cuestionario consta de 11 preguntas divididas en 4 bloques.</p>
    <p>Estamos seguros que la información que nos proporcionaras será de gran valor para nuestro próximo CONTACTO, por ello agradecemos de antemano tu participación.
    </p>
  </div>

  <div class="company survey">
    <%= form_for(@survey) do |f| %>
      <% @survey.questions.order('id asc').each_with_index do |question, index| %>
        <% if index == 0 %>
          <% @count = 1 %>
          <h3 class="section-title info">
            BLOQUE 1: Sobre el Encuentro:
          </h3>
        <% elsif index == 2 %>
          <% @count = 1 %>
          <h3 class="section-title services">
            BLOQUE 2: Sobre el contacto:
          </h3>
        <% elsif index == 4 %>
          <% @count = 1 %>
          <h3 class="section-title needs">
            BLOQUE 3: Sobre la Alianza:
          </h3>
        <% elsif index == 15 %>
          <% @count = 1 %>
          <h3 class="section-title offers">
            BLOQUE 4: Sobre la red.
          </h3>
        <% end %>

        <% unless question.possible_answers.empty? %>
          <div id="summary-block" class="survey-block">
            <p><%= "#{@count}. #{question.text}" %></p>
            <%= f.fields_for :questions, question do |q| %>
              <% @count = @count + 1 %>
              <%= q.fields_for :answers, question.answers.find_or_initialize_by(user: current_user) do |a| %>
                <% question.possible_answers.order('id asc').each do |pa| %>
                  <%= a.hidden_field :user_id, value: current_user.id %>
                  <%= a.hidden_field :question_id, value: question.id %>
                  <% unless pa.option %>
                    <p><%= pa.text %></p>
                  <% else %>
                    <label class="radio <%= question.possible_answers.count == 8 ? 'inline' : '' %>">
                      <%= a.radio_button :possible_answer_id, pa.id, class: "radio inline" %>
                      <%= pa.text %>
                    </label>
                  <% end %>
                  <% if pa.explain %>
                    <%= a.text_area :text, :rows => 2, :class => "span9" %>
                    <% if !pa.option %>
                      <%= a.hidden_field :possible_answer_id, value: pa.id %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div>
        <%= f.submit 'Enviar encuesta'%>
      </div>
    <% end %>
  </div>
</div>

