<%- content_for :header do -%>
<%= render partial: 'admin/menu' %>
<%- end -%>

<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<ul class="nav nav-pills">
  <li <%= 'class="active"'.html_safe if action_name == 'index' %>>
    <%= link_to t('.all'), admin_users_path %>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'admins' %>>
    <%= link_to t('.admins'), admins_admin_users_path %>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'sponsors' %>>
    <%= link_to t('.sponsors'), sponsors_admin_users_path %>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'anchors' %>>
    <%= link_to t('.anchors'), anchors_admin_users_path %>
  </li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:external_id) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:company_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.external_id %></td>
        <td>
          <%= user.full_name %>

          <% if user.mobile_phone %>
            <small>(<%= user.mobile_phone %>)</small>
          <% end %>

          <div class="email"><%= link_to user.email, admin_user_path(user) %></div>

          <% if user.admin %>
            <span class="badge badge-inverse">admin</span>
          <% end %>
          <% if user.company && user.company.sponsor %>
            <span class="badge badge-warning">sponsor</span>
          <% end %>
          <% if user.company && user.company.anchor %>
            <span class="badge badge-info">anchor</span>
          <% end %>
        </td>
        <td><%= user.company %></td>
        <td><%= user.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
      <tr>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_user_path,
            :class => 'btn btn-primary' %>
