<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/png" href="<%= image_path 'favicon.png' %>" />
    <title>CONTACTO Venezuela</title>
  </head>
  <body>
    <div class="container">

      <div class="header row">
        <a href="http://www.contactove.cdo.org.ve/index.html">
          <%= image_tag 'logo-contacto.png', class: 'logo pull-left', title: 'Contacto Venezuela by MATCHING' %>
        </a>

        <div class="navbar pull-right">
          <div class="navbar-inner">
            <ul class="nav">
              <li><a href="http://www.contactove.cdo.org.ve/index.html">Inicio</a></li>
              <li><a href="http://www.contactove.cdo.org.ve/about.html">Sobre CONTACTO</a></li>
              <li><a href="http://www.contactove.cdo.org.ve/info.html">Comunicaciones</a></li>
              <%- if user_signed_in? -%>
              <li class="special"><%= link_to "SALIR", destroy_user_session_path, :method => :delete %></li>
              <%- else -%>
              <li class="special"><%= link_to "ENTRAR", new_user_session_path %></li>
              <%- end -%>
            </ul>
          </div>
        </div>

      </div>
      <% if user_signed_in? %>
        <%= yield :header %>
      <% else %>
        <div class="row header-banner">
          <div class="summary span5 offset1">
            <h1>El Valor de un Encuentro</h1>
            <h4>CARACAS - 2 DE JULIO - 8am / 5pm - UCAB</h4>

            <div class="notice">Inscripciones Abiertas hasta el Viernes 21 de Junio 2013</div>
          </div>
          <div class="span5">
            <div class="banner-image"></div>
          </div>
        </div>
      <% end %>

      <div class="row">
        <%- if flash[:notice] -%>
          <div class="alert alert-success"><%= flash[:notice] %></div>
        <%- end -%>

        <%- if flash[:alert] -%>
          <div class="alert alert-error"><%= flash[:alert] %></div>
        <%- end -%>
      </div>

      <%= yield %>

      <div class="footer row">
        <div class="span10 offset1">
          <div class="pull-left">
            <div class="footer-inner">
              <%= image_tag 'logo-footer.png', title: 'Contacto Venezuela by MATCHING' %>

              <p>
                &copy; 2013 | Contacto Venezuela - Sobre Contacto | Comunicaciones
                <br />
                Desarrollado por Divux Systems
              </p>
            </div>
          </div>

          <div class="syndication pull-right">
            <a href="#" class="icon facebook">&nbsp;</a>
            <a href="#" class="icon twitter">&nbsp;</a>
            <a href="#" class="icon email">&nbsp;</a>
          </div>
        </div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41205244-2', 'cdo.org.ve');
      ga('send', 'pageview');

    </script>
  </body>
</html>
