<table style="width: 100%; height: 100%; border-spacing: 0; background-color: #f0f0ef;">
  <tr>
    <td>
      <table style="width: 800px; padding: 0; border-spacing: 0; background-color: white; font-family: Helvetica, Arial, sans-serif; font-weight: normal;" align="center">
        <tr>
          <td>
            <table style="width: 100%; border-spacing: 0; background-color: #0ea3dc; border-bottom: 5px solid #64bfea;">
              <tr>
                <td>
                  <%= image_tag 'logo-footer.png', alt: 'Contacto Venezuela', style: 'margin: 20px;' %>
                </td>
                <td>
                </td>
                <td style="width: 250px; padding: 30px 20px; font-size: 20px;">
                  <h2 style="color: white; font-weight: normal;">EL VALOR DE UN ENCUENTRO</h2>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding: 20px;">
            <%= yield %>
          </td>
        </tr>
        <tr>
          <td style="border-top: 1px dashed #ccc; padding: 20px; color: #aaa;">
            &copy; 2013 | Contacto Venezuela
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
